body {
    font-family: sans-serif;
}
  
h1 {
color: #2f4f4f;
margin-bottom: 10px;
}

#main-nav {
margin-top: 10px;
list-style: none;
padding-left: 0;
}

#main-nav li {
display: inline-block;
}

#main-nav a {
color: white;
background-color: #13a4a4;
padding: 5px;
border-radius: 2px;
text-decoration: none;
}

#main-nav a.featured {
background-color: orange;
box-shadow: 10px 2px #6f9090;
}

a:link {
color: blue;
}

.footer {
color: #666;
background-color: #ccc;
padding: 15px;
text-align: center;
font-size: 14px;
}

.footer a {
color: inherit;
text-decoration: underline;
}

.container {
    height: 100%;
    background: aqua;
    margin: auto;
    padding: 15px;
}
.col_left {
    width: 75%;
    height: 200px;
    background: red;
    float: left;
}
.col_right {
    margin-left: 15%;
    height: 200px;
    background: blue;
}